<h1>Listing scales</h1>

<ul class="index">
<% @scales.each do |scale| %>
  <li>
    <label><%= scale.name %></label>
    <%= link_to 'Show', scale %>
    <%= link_to 'Edit', edit_scale_path(scale) %>
    <%= link_to 'Destroy', scale, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>

<p>
  <%= link_to 'New Scale', new_scale_path %>
</p>
