<%= form_for(@interval) do |f| %>
  <% if @interval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interval.errors.count, "error") %> prohibited this interval from being saved:</h2>

      <ul>
      <% @interval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :scale_id %><br />
    <%= f.text_field :scale_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
