<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GuitarScales</title>

    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>    
    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>
    <%= javascript_include_tag 'rails' -%>

    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


  </head>
  <body>
    <div id="wrapper"><!-- #wrapper -->
      <header><!-- header -->
	<br><br><br>
        <h1>GuitarScales</h1>
      </header><!-- end of header -->

      <div class="nav-wrap">
	<ul class="group" id="example-one">
          <li class="current_page_item"><%= link_to 'Scales', scales_path -%></li>
<!--
          <li><a href="#">Other</a></li>
-->
        </ul>
      </div>

      <section id="main"><!-- #main content area -->
        <article>
          <%= yield %>
        </article>
      </section><!-- end of #content -->

      <footer>
        <section id="footer-area">
	  <section id="footer-outer-block">

	    <aside class="footer-segment first">
	      <h4>&nbsp;</h4>
	      <ul>
		<li><a href="http://github.com/madbox/guitarscale">Source code</a></li>
		<!-- <li><a href="#">two linkylinks</a></li> -->
		<!-- <li><a href="#">three linkylinks</a></li> -->
	      </ul>
	    </aside><!-- end of #first footer segment -->

	    <aside class="footer-segment second">
	      <h4>&nbsp;</h4>
	      <ul>
		<li><a href="http://ruby-lang.org">Ruby</a></li>
		<li><a href="http://rubyonrails.org">Ruby on rails</a></li>
		<li><a href="http://jquery.com">JQuery</a></li>
	      </ul>
	    </aside><!-- end of #second footer segment -->

	    <aside class="footer-segment third">
	      <h4>&nbsp;</h4>
	      <ul>
		<!-- <li><a href="#">one linkylink</a></li> -->
		<!-- <li><a href="#">two linkylinks</a></li> -->
		<!-- <li><a href="#">three linkylinks</a></li> -->
	      </ul>
	    </aside><!-- end of #third footer segment -->
	    
	    <aside class="footer-segment last">
	      <h4>&nbsp;</h4>
	      <p>&copy; 2011 <a href="http://mad-box.ru">mad-box.ru</a></p>
	    </aside><!-- end of #fourth footer segment -->

	  </section><!-- end of footer-outer-block -->

        </section><!-- end of footer-area -->
      </footer>
      
    </div><!-- #wrapper -->
    <!-- Free template created by http://freehtml5templates.com -->
  </body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8943268-1']);
    _gaq.push(['_setDomainName', '.mad-box.ru']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</html>
